lib/
lib_tmp/
node_modules/
public/
src_typings/
src_typings_tmp/
test_lib/
test_lib_tmp/
test_public/
test_src_typings/
test_src_typings_tmp/
tmp/
typings/

gulpscripts/**/*.js
src/**/*.js
test_src/**/*js

